@if (cal) {
  <h1>Angular Calendar minimal Example</h1>
  <table
    border="0"
    width="840"
    cellspacing="0"
    style="height: 700px; border-left: 1px solid; border-top: 1px solid"
  >
    <thead>
      <tr>
        <th colspan="2" style="border-bottom: 1px solid">
          <button type="button" (click)="cal.goToPrevious()">←</button>
          <button type="button" (click)="cal.goToToday()">Today</button>
          <button type="button" (click)="cal.goToNext()">→</button>
        </th>
        <th colspan="3" style="border-bottom: 1px solid">
          <h3>
            {{ cal.view === 'month' ? cal.monthData?.monthName : '' }}
            {{ cal.view === 'week' ? cal.weekData?.weekRange : '' }}
            {{ cal.view === 'day' ? cal.dayData?.dayName : '' }}
          </h3>
        </th>
        <th colspan="2" style="border-bottom: 1px solid; border-right: 1px solid">
          <select [value]="cal.view" (change)="changeView($event)" title="Change View">
            <option value="month">Month</option>
            <option value="week">Week</option>
            <option value="day">Day</option>
          </select>
        </th>
      </tr>
    </thead>
    <tbody>
      @if (cal.view == 'month') {
        <tr>
          @for (day of cal.utils.daysofWeek('short'); track day) {
            <th style="width: 120px; border-right: 1px solid; border-bottom: 1px solid">
              {{ day }}
            </th>
          }
        </tr>
        @for (week of cal.monthData?.weeks; track week) {
          <tr>
            @for (date of week; track date) {
              <td
                style="border-right: 1px solid; border-bottom: 1px solid"
                [ngStyle]="{
                  color: cal.monthData?.isCurrentMonth(date) == false ? 'gray' : '',
                  'font-weight': cal.monthData?.isToday(date) ? 'bold' : 'normal',
                }"
              >
                {{ cal.utils.formatDate(date, 'd') }}
              </td>
            }
          </tr>
        }
      }

      @if (cal.view == 'week') {
        <tr>
          <td colspan="7" style="border-right: 1px solid">
            <table cellpadding="5" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td></td>
                  @for (date of cal.weekData?.dates; track date) {
                    <td
                      [ngStyle]="{
                        'font-weight': cal.weekData?.isToday(date) ? 'bold' : 'normal',
                      }"
                    >
                      {{ cal.utils.formatDateTime(date, 'EEE d') }}
                    </td>
                  }
                </tr>
                @for (slot of cal.timeSlots; track slot) {
                  <tr>
                    <td style="border-bottom: 1px solid">
                      {{ slot.label }}
                    </td>
                    @for (date of cal.weekData?.dates; track date) {
                      <td
                        style="border-bottom: 1px solid"
                        [ngStyle]="{
                          'font-weight': cal.weekData?.isToday(date) ? 'bold' : 'normal',
                        }"
                      >
                        &nbsp;
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          </td>
        </tr>
      }

      @if (cal.view == 'day') {
        <tr>
          <td colspan="7" align="center" style="border-right: 1px solid; border-bottom: 1px solid">
            {{ cal.dayData?.dayName }}
          </td>
        </tr>
        <tr>
          <td colspan="7" style="border-right: 1px solid">
            <table width="100%" cellspacing="0" style="height: 100%">
              <tbody>
                @for (slot of cal.timeSlots; track slot) {
                  <tr>
                    <td width="25%" style="border-bottom: 1px solid">
                      {{ slot.label }}
                      &nbsp;
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
